/* Imports */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap");

/* Reset css */
*,
button {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #fff;
}

ul {
  list-style: none;
}

img {
  border: none;
}

a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
p,
span,
strong,
input {
  font-family: "Raleway", sans-serif;
}

/* Menu header */
header {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e5e5e5;
}

.top-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 1024px;
  padding: 10px 0;
}

.top-header ul {
  display: flex;
}

.top-header ul li {
  margin-right: 20px;
}

.top-header ul li a {
  font-weight: 100;
  font-size: 20px;
  color: #a1a1a1;
}

.top-header ul li:last-child a {
  font-weight: 800;
  text-transform: uppercase;
}

.top-header ul li:last-child a {
  color: #4ec2dd;
}

.search img {
  z-index: 1;
  position: absolute;
  top: 30px;
  margin-left: 15px;
}

.search input {
  position: relative;
  width: 350px;
  height: 30px;
  padding: 5px 0px 5px 50px;
  border-radius: 5px;
  border: 0 solid #707070;
  box-shadow: inset 0px -1px 1px 1px #e5e5e5;
}

/* Auto complete */
#autocomplete {
  position: absolute;
  overflow: auto;
  background: #fff;
}

#autocomplete {
  width: 350px;
  padding-left: 50px;
}

#autocomplete p:nth-child(2n+1) {
  background: #4ec2dd;
  color: #fff;
  font-weight: 800;
}

#autocomplete p:hover {
  background: #e5e5e5;
}

.cart {
  width: 40px;
  position: relative;
  top: 13px;
  right: 20px;
}

.counter-item {
  position: relative;
  bottom: 47px;
  left: 30px;
  font-weight: 800;
  background-color: #4ec2dd;
  color: #fff;
  border-radius: 80%;
  padding: 0 5px 2px 5px;
}

/* Responsive menu */
#menu-responsive {
  display: none;
}

/* Modal */
.modal {
  text-align: center;
}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal-dialog {
  background: #fefefe;
  border: #333333 solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  z-index: 11;
  width: 360px;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-content {
  padding: 50px 20px;
}

.modal-content img {
  padding-bottom: 50px;
}

.modal-content h2 {
  font-size: 20px;
  color: #4EC2DD;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.btn {
  background: #0F4156;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 25px;
  min-width: 60px;
  transition: color .1s ease;
}

/* Product session */
#product {
  display: flex;
}

.product-container {
  display: flex;
  position: relative !important;
  left: 40px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  justify-content: center;
}

/* Breadcrumb */
.product ul {
  display: flex;
  padding: 20px 0;
  position: relative;
  left: 75px;
}

.product ul li {
  margin-right: 20px;
  color: #c8c8c8;
  font-size: 20px;
}

.product ul li a {
  font-size: 20px;
  font-weight: 800;
  color: #c8c8c8;
}

.product ul li:last-child a {
  color: #4ec2dd;
}

/* Image view */
.product-image {
  left: 210px;
  position: relative;
}

.image-1 {
  position: absolute;
  top: 0;
  left: -100px;
}

.image-2 {
  max-width: 80%;
}

.product-info {
  position: relative;
  top: 60px;
}

/* Product title */
.product-info h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 1.2em;
  color: #a1a1a1;
  margin-bottom: 10px;
}

/* Product price */
.product-price {
  height: 150px;
  background-color: #f8f8f8;
  line-height: 2em;
  padding: 20px 30px 20px;
  position: relative;
  right: 30px;
  border-radius: 5px;
  width: 360px;
}

.product-price p {
  color: #a1a1a1;
}

.product-price strong {
  color: #4ec2dd;
  font-size: 40px;
}

.pay-btn {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background-color: #71ce4b;
  border-color: #71ce4b;
  border-radius: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  padding: 10px 15px;
  margin-top: 30px;
}

/* Product shipping */
.product-shipping {
  background-color: #4ec2dd;
  padding: 20px;
  margin-top: 13px;
  border-radius: 5px;
  line-height: 2.3em;
  width: 350px;
}

.product-shipping label {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
  bottom: 10px;
  position: relative;
}

.form-shipping input {
  color: #e5e5e5;
  border-radius: 5px;
  padding: 10px 1px;
  border: 0;
}

.cep-1 {
  padding-left: 20px !important;
}

.cep-2 {
  width: 70px;
  text-align: center;
}

.form-shipping button {
  background-color: #0f4156;
  border-color: #859094;
  border-radius: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: #fff;
  font-size: 11px;
  font-weight: 800;
  padding: 10px 20px;
}

/* Product description section  */
#product-description {
  display: flex;
  text-align: center;
  justify-content: center;
}

.product-description {
  width: 930px;
}

/* Product title */
.product-description h2 {
  color: #0f4156;
  font-weight: 100;
  margin: 50px 0;
}

/* Product description */
.product-description p {
  color: #a1a1a1;
  line-height: 2em;
  text-align: left;
  font-size: 16px;
}

/* Product buy together section */
#product-buy-together {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
}

.product-buy-together {
  width: 930px;
}

.product-buy-together h2 {
  color: #0f4156;
  font-weight: 100;
  margin: 50px 0;
}

.products-container {
  display: flex;
  position: relative;
  right: 30px;
}

/* Product card */
.product-suggestion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  color: #a1a1a1;
}

.product-suggestion img {
  margin-bottom: 40px;
}

.product-suggestion h4 {
  line-height: 1.7em;
  margin-bottom: 30px;
  font-weight: 100;
}

.product-suggestion strong {
  font-size: 24px;
  color: #4ec2dd;
}

/* Operators */
.plus-el-1 {
  background: #0f4156;
  position: relative;
  display: block;
  width: 23px;
  height: 61px;
}

.plus-el-2 {
  background: #0f4156;
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  right: 19px;
  bottom: 42px;
}

.operator-1 {
  position: relative;
  left: 20px;
  top: 188px;
  margin: 0 30px;
}

.equals-el-1 {
  background: #4ec2dd;
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  top: 19px;
  left: 19px;
}

.equals-el-2 {
  background: #4ec2dd;
  position: relative;
  display: block;
  width: 60px;
  height: 23px;
  top: 38px;
  left: 19px;
}

.operator-2 {
  position: relative;
  top: 165px;
  margin: 0 20px;
}

/* Product offers */
.product-offers {
  display: flex;
  flex-direction: column;
  background: #4ec2dd;
  border-radius: 5px;
  border: 0;
  padding: 33px;
  width: 200px;
  margin-right: -90px;
  line-height: 1.7em;
  text-align: left;
  color: #fff;
  margin-left: 35px;
}

.product-offers span {
  margin-top: 60px;
  font-size: 16px;
}

.product-offers strong {
  font-size: 25px;
}

.product-offers label {
  background: #f1d521;
  color: #0f4156;
  margin-top: 30px;
  padding: 10px 0;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
}

/* Product carousel section */
#product-carousel {
  display: flex;
  text-align: center;
  justify-content: center;
}

.product-carousel h3 {
  margin: 50px 0;
  color: #0f4156;
  font-weight: 100;
  margin: 50px 0;
  font-size: 1.5em;
}

/* Product cards */
.products-group {
  display: flex;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 20px;
  text-align: left;
  margin: 0 10px;
  color: #a1a1a1;
  animation: 1s slider infinite;
}

.product-card img {
  height: 200px;
  background: #fff;
}

.product-card p {
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 100;
  line-height: 1.7em;
}

.product-card span {
  font-size: 12px;
}

.product-card strong {
  color: #4ec2dd;
  font-size: 20px;
  padding-bottom: 30px;
}

/* Carousel */
.slides {
  display: block;
  position: relative;
  height: 470px;
  width: 1080px;
}

.slides input {
  display: none;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

/* Carousel controls */
.arrow {
  position: relative;
  display: flex;
  background: #4ec2dd;
  align-items: center;
  width: 24px;
  height: 30px;
  margin: 165px 0;
  border-radius: 60%;
  padding: 5px 5px 5px 14px;
}

.arrow img {
  width: 12px;
}

.arrow-left {
  right: 65px;
}

.arrow-right {
  left: 550px;
  transform: rotate(180deg);
}

.carousel-controls label {
  display: block;
  position: absolute;
  padding: 0 20px;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  right: 0;
}

.carousel-dots {
  display: flex;
  position: relative;
  top: 410px;
  justify-content: center;
  align-items: center;
}

.carousel-dots .carousel-dot {
  background: #4ec2dd;
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border-radius: 15px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#slide-1:checked~.carousel-dots label#slide-dot-1,
input#slide-2:checked~.carousel-dots label#slide-dot-2,
input#slide-3:checked~.carousel-dots label#slide-dot-3 {
  opacity: 1;
  border: 4px solid #0f4156;
}


input:checked+.slide-container .nav label {
  display: block;
}


/* Footer */
footer {
  margin-top: 50px;
}

.footer-container {
  display: flex;
}

.logo-footer {
  display: flex;
  background: #0f4156;
  justify-content: flex-end;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 20px 0;
}

.logo-footer img {
  margin-right: 30px;
  width: 15%;
}

.text-footer {
  display: flex;
  background: #4ec2dd;
  color: #fff;
  flex-grow: 4;
  flex-shrink: 1;
}

.text-footer span {
  display: flex;
  align-self: center;
  margin-left: 30px;
  font-size: 14px;
}

/* Media queries */
@media only screen and (min-width: 2560px) {
  .product-container {
    left: 565px;
  }
}

@media only screen and (max-width: 1440px) {
  .product-container {
    left: 5px;
  }
}

@media only screen and (max-width: 1080px) {
  .product-container {
    left: -168px;
  }
}

@media only screen and (max-width: 1024px) {
  .product-container {
    left: -204px;
  }
}

@media screen and (min-width: 768px) and (max-width: 769px) {

  /* Header */
  .top-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .logo-header {
    position: relative;
  }

  .cart {
    position: absolute;
    right: 45px;
    top: 85px;
  }

  .cart img {
    width: 45px;
  }

  .search img {
    top: 100px;
    left: 20px;
  }

  .search input {
    margin-top: 20px;
    width: 605px;
    right: 40px;
  }

  #autocomplete {
    width: 605px;
    padding-left: 10px;
  }

  .counter-item {
    bottom: 50px;
    left: 30px;
  }

  .menu-container {
    position: absolute;
    left: 5px;
    top: 30px;
  }

  #menu-responsive {
    display: none;
  }

  .menu {
    position: relative;
    bottom: 4px;
  }

  .menu-span {
    position: absolute;
    display: block;
    background: #0f4156;
    width: 50px;
    height: 5px;
    top: 17px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }

  .menu-span:before,
  .menu-span:after {
    background: #0f4156;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .menu-span:before {
    top: -10px;
  }

  .menu-span:after {
    bottom: -10px;
  }

  input:checked~label .menu-span {
    transform: rotate(45deg);
  }

  input:checked~label .menu-span:before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked~label .menu-span:after {
    transform: rotate(90deg);
    bottom: 0;
  }

  input:checked~.category-list {
    display: block;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .top-header .category-list {
    display: none;
  }

  .category-list {
    top: 110px;
    position: relative;
    background: #e5e5e5;
    width: 160px;
    line-height: 2.5em;
    padding: 20px;
    border-top: 1px solid #a1a1a1;
    right: 5px;
  }

  .category-list li {
    border-bottom: 1px solid #a1a1a1;
  }

  .top-header ul li a {
    color: #0f4156;
  }

  /* Modal */
  .modal:target .modal-dialog {
    top: 15%;
  }

  .modal-content {
    padding: 30px 20px;
  }

  .modal-dialog {
    left: 46%;
  }

  /* Product section */
  .product-container {
    display: block;
    position: relative;
    left: -35px;
  }

  .product ul {
    display: none;
  }

  .product {
    flex-direction: column;
    width: auto;
  }

  .product .image-1 {
    display: none;
  }

  .product-image {
    left: 55px;
    position: relative;
    top: 110px;
  }

  .product-info {
    top: 0;
  }

  .product-info h1 {
    text-align: center;
    position: relative;
    bottom: 380px;
    left: 155px;
    font-size: 25px;
  }

  .product-price {
    bottom: 310px;
    left: 455px;
    width: 217px;
  }

  .product-shipping {
    bottom: 322px;
    width: 260px;
    left: 453px;
    position: relative;
    text-align: center;
  }

  .form-shipping input {
    color: #6a6a6a;
  }

  .cep-1 {
    width: 68px;
  }

  .product-description {
    position: relative;
    bottom: 230px;
  }

  .product-description p {
    flex-wrap: wrap;
    display: flex;
    margin: 0 50px;
  }

  #product-buy-together {
    flex-direction: row;
  }

  .product-buy-together {
    position: relative;
    bottom: 230px;
    width: auto;
    left: 25px;
  }

  .product-buy-together h2 {
    margin: 50px 20px 50px;
  }

  .products-container {
    left: 25px;
  }

  .product-suggestion img {
    margin-bottom: 0;
    width: 200px;
  }

  .product-suggestion h4 {
    position: relative;
    font-size: 13x;
  }

  .operator-1 {
    left: 15px;
    top: 140px;
  }

  .operator-2 {
    top: 420px;
    right: 333px;
  }

  .product-offers {
    position: absolute;
    left: 90px;
    top: 580px;
    padding-top: 0;
  }

  .product-offers span {
    margin-top: 30px !important;
  }

  .product-carousel {
    margin-top: 340px;
  }

  .slides {
    width: 540px;
  }

  .carousel-dots {
    top: 430px;
    left: 20px;
  }

  .product-first,
  .product-last,
  .mobile,
  .carousel-controls {
    display: none;
  }


  .text-footer span {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 426px) {

  /* Header */
  .top-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .logo-header {
    position: relative;
  }

  .cart {
    position: absolute;
    right: 10px;
    top: 97px;
  }

  .cart img {
    width: 30px;
  }

  .search img {
    top: 100px;
    left: 20px;
  }

  .search input {
    margin-top: 20px;
    width: 298px;
    right: 20px;
  }

  #autocomplete {
    width: 297px;
    padding-left: 30px;
  }

  .counter-item {
    bottom: 42px;
    left: 17px;
  }

  .menu-container {
    position: absolute;
    left: 5px;
    top: 30px;
  }

  #menu-responsive {
    display: none;
  }

  .menu {
    position: relative;
    bottom: 4px;
  }

  .menu-span {
    position: absolute;
    display: block;
    background: #0f4156;
    width: 50px;
    height: 5px;
    top: 17px;
    left: 15px;
    transition: 0.5s ease-in-out;
  }

  .menu-span:before,
  .menu-span:after {
    background: #0f4156;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
  }

  .menu-span:before {
    top: -10px;
  }

  .menu-span:after {
    bottom: -10px;
  }

  input:checked~label .menu-span {
    transform: rotate(45deg);
  }

  input:checked~label .menu-span:before {
    transform: rotate(90deg);
    top: 0;
  }

  input:checked~label .menu-span:after {
    transform: rotate(90deg);
    bottom: 0;
  }

  input:checked~.category-list {
    display: block;
    z-index: 1;
    transition: 0.5s ease-in-out;
  }

  .top-header .category-list {
    display: none;
  }

  .category-list {
    top: 110px;
    position: relative;
    background: #e5e5e5;
    width: 160px;
    line-height: 2.5em;
    padding: 20px;
    border-top: 1px solid #a1a1a1;
    right: 5px;
  }

  .category-list li {
    border-bottom: 1px solid #a1a1a1;
  }

  .top-header ul li a {
    color: #0f4156;
  }

  /* Modal */
  .modal:target .modal-dialog {
    top: 15%;
  }

  .modal-content {
    padding: 30px 20px;
  }

  .modal-dialog {
    left: 50%;
  }

  /* Product section */
  .product-container {
    display: block;
    position: relative;
    left: -35px;
  }

  .product ul {
    display: none;
  }

  .product {
    flex-direction: column;
    width: auto;
  }

  .product .image-1 {
    display: none;
  }

  .product-image {
    left: 80px;
    position: relative;
    top: 110px;
  }

  .product-info {
    top: 0;
  }

  .product-info h1 {
    text-align: center;
    position: relative;
    bottom: 310px;
    left: 37px;
    font-size: 25px;
  }

  .product-price {
    left: 78px;
    width: 283px;
    top: 60px;
  }

  .product-shipping {
    margin-top: 60px;
    width: 330px;
    left: 64px;
    position: relative;
    text-align: center;
  }

  .form-shipping input {
    color: #6a6a6a;
  }

  .cep-1 {
    width: 138px;
  }

  .product-description p {
    flex-wrap: wrap;
    display: flex;
    margin: 0 50px;
  }

  #product-buy-together {
    flex-direction: column;
  }

  .product-buy-together {
    width: auto;
  }

  .product-buy-together h2 {
    margin: 50px 20px 50px;
  }

  .products-container {
    left: 25px;
  }

  .product-suggestion img {
    margin-bottom: 0;
    width: 130px;
  }

  .product-suggestion h4 {
    position: relative;
    font-size: 13x;
  }

  .operator-1 {
    left: 15px;
    top: 140px;
  }

  .operator-2 {
    top: 370px;
    right: 263px;
  }

  .product-offers {
    position: absolute;
    left: 27px;
    top: 520px;
    padding-top: 0;
  }

  .product-offers span {
    margin-top: 30px !important;
  }

  .product-carousel {
    margin-top: 500px;
  }

  .slides {
    width: 285px;
  }

  .carousel-dots {
    top: 410px;
  }

  .product-first,
  .product-second,
  .product-last,
  .mobile,
  .carousel-controls {
    display: none;
  }

  .slide-image img {
    width: auto;
    min-width: 100%;
  }

  .carousel-controls {
    display: none;
  }

  .text-footer span {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 414px) and (max-width: 415px) {
  .product-container {
    left: -40px;
  }

  .products-container {
    left: 18px;
  }

  .text-footer span {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 411px) and (max-width: 412px) {
  .products-container {
    left: 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 376px) {
  /* Header */

  .search input {
    width: 248px;
  }

  #autocomplete {
    width: 249px;
    padding-left: 30px;
  }

  .search img {
    left: 20px;
  }

  /* Modal */
  .modal:target .modal-dialog {
    top: 15%;
  }

  .modal-content {
    padding: 30px 20px;
  }

  .modal-dialog {
    left: 51%;
  }

  /* Product section */
  .product-container {
    left: -62px;
  }

  .product-info h1 {
    left: 60px;
    bottom: 280px;
  }

  .product-image {
    left: 100px;
  }

  .product-shipping {
    width: 324px;
    left: 67px;
  }

  .cep-1 {
    width: 132px;
  }

  .product-suggestion {
    width: 92px;
  }

  .operator-1 {
    left: 30px;
  }

  .plus-el-1 {
    width: 15px;
    height: 50px;
  }

  .plus-el-2 {
    width: 50px;
    height: 15px;
    right: 17px;
    bottom: 34px;
  }

  .product-suggestion h4 {
    margin-bottom: -30px;
  }

  .operator-2 {
    top: 370px;
    right: 198px;
  }

  .equals-el-1 {
    width: 50px;
    height: 15px;
    top: 19px;
    left: 19px;
  }

  .equals-el-2 {
    width: 50px;
    height: 15px;
    top: 30px;
    left: 19px;
  }

  .product-offers {
    left: 0;
    top: 480px;
  }

  .product-carousel {
    margin-top: 410px;
  }
}

@media only screen and (min-width: 360px) and (max-width: 361px) {
  .menu {
    bottom: 5px;
  }

  .menu span {
    width: 40px;
  }

  .search input {
    width: 240px;
  }

  #autocomplete {
    width: 240px;
    padding-left: 30px;
  }

  .search img {
    left: 20px;
  }

  /* Modal */
  .modal:target .modal-dialog {
    top: 15%;
  }

  .modal-content {
    padding: 30px 20px;
  }

  .modal-dialog {
    left: 54%;
    width: 330px;
  }

  .product-info h1 {
    bottom: 280px;
    left: 30px;
    font-size: 23px;
  }

  .product-image {
    left: 70px;
    top: 100px;
  }

  .product-price {
    left: 57px;
    width: 260px;
    top: 50px;
  }

  .product-shipping {
    margin-top: 50px;
    width: 300px;
    left: 46px;
  }

  .cep-1 {
    width: 108px;
  }

  .products-container {
    left: 13px;
  }

  .product-suggestion {
    width: 92px;
  }

  .operator-1 {
    left: 30px;
  }

  .plus-el-1 {
    width: 15px;
    height: 50px;
  }

  .plus-el-2 {
    width: 50px;
    height: 15px;
    right: 17px;
    bottom: 34px;
  }

  .product-suggestion h4 {
    margin-bottom: -30px;
  }

  .operator-2 {
    top: 370px;
    right: 198px;
  }

  .equals-el-1 {
    width: 50px;
    height: 15px;
    top: 19px;
    left: 19px;
  }

  .equals-el-2 {
    width: 50px;
    height: 15px;
    top: 30px;
    left: 19px;
  }

  .product-offers {
    left: 0;
    top: 480px;
  }

  .product-carousel {
    margin-top: 410px;
  }

  .text-footer span {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 320px) and (max-width: 321px) {
  .menu span {
    width: 40px;
  }

  .search input {
    width: 200px;
  }

  #autocomplete {
    width: 200px;
    padding-left: 30px;
  }

  .cep-1 {
    width: 68px !important;
  }

  .search img {
    left: 20px;
  }

  /* Modal */
  .modal:target .modal-dialog {
    top: 15%;
  }

  .modal-content {
    padding: 30px 20px;
  }

  .modal-dialog {
    left: 62%;
    width: 285px;
  }

  .product-info h1 {
    bottom: 240px;
    left: 30px;
    font-size: 20px;
  }

  .product-image {
    left: 60px;
    top: 100px;
  }

  .product-price {
    left: 53px;
    width: 225px;
    top: 50px;
  }

  .product-shipping {
    margin-top: 50px;
    width: 260px;
    left: 46px;
  }

  .cep-1 {
    width: 74px;
  }

  .products-container {
    left: 13px;
  }

  .product-suggestion {
    width: 92px;
  }

  .operator-1 {
    left: 30px;
  }

  .plus-el-1 {
    width: 15px;
    height: 50px;
  }

  .plus-el-2 {
    width: 50px;
    height: 15px;
    right: 17px;
    bottom: 34px;
  }

  .product-suggestion img {
    width: 200px;
  }

  .first {
    position: relative;
    left: 45px;
  }

  .second {
    position: relative;
    top: 510px;
    right: 157px;
  }

  .product-suggestion h4 {
    margin-bottom: -30px;
  }

  .operator-1 {
    left: 15px;
    top: 430px;
  }

  .operator-2 {
    top: 920px;
    right: 213px;
  }

  .equals-el-1 {
    width: 50px;
    height: 15px;
    top: 19px;
    left: 19px;
  }

  .equals-el-2 {
    width: 50px;
    height: 15px;
    top: 30px;
    left: 19px;
  }

  .product-offers {
    position: absolute;
    left: -21px;
    top: 1020px;
  }

  .product-carousel {
    margin-top: 850px;
  }

  .text-footer span {
    font-size: 8px !important;
  }
}
